<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/blutspendedienst_owl_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/blutspendedienst_owl_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blutspende_App">
        <activity
            android:name="de.agb.blutspende_app.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Blutspende_App.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>